################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lesson1/obj/Debug
/lesson1/bin/Debug
